.carousel-info {
  bottom: 220px;
  z-index: 2;
}
.carousel-info h5 {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
}
.carousel-info p {
  width: 60%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
}
.carousel-body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
footer {
  margin-top: 5rem;
  width: 100%;
  padding: 10rem;
  background-color: black;
  color: antiquewhite;
}

/* responsive CSS */
@media only screen and (min-width: 992px) {
  .carousel-info {
    bottom: 170px;
  }
  .carousel-info > p {
    width: 100%;
  }
}
/* tab view */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .carousel-info {
    bottom: 40px;
  }
  .carousel-info > p {
    width: 100%;
  }
  .modal-card {
    display: flex;
    flex-direction: column;
    line-height: 2;
  }
  .modal-btn {
    margin-top: 20px;
  }
}

/* mobile view */
@media only screen and (max-width: 767px) {
  .carousel-info {
    bottom: 40px;
  }
  .carousel-info h1 {
    font-size: 0.8rem;
    line-height: 0.7;
  }
  .carousel-info a {
    padding: 10px 15px;
    font-size: 15px;
  }
  .carousel-info p {
    width: 100%;
    line-height: 1;
    font-size: 0.5rem;
  }
  .carousel-info .btn {
    font-size: 0.5em;
  }
  .course-title {
    padding-top: 0;
    margin-top: 0;
    text-align: center;
  }
  .course-title > h1 {
    width: 100%;
    font-size: 24px;
    font-weight: 600;
    line-height: 1;
  }
  .course-title > p {
    width: 100%;
    line-height: 1;
    font-size: 18px;
  }
  .course-card {
    display: flex;
    flex-direction: column;
  }
  .course-img {
    width: 100%;
  }

  .course-img > img {
    width: 100%;
    max-height: 80%;
  }
  .course-btn .btn {
    font-size: 14px;
    padding: 3px 3px;
  }
  .modal-card {
    display: flex;
    flex-direction: column;
    line-height: 1;
  }
  .modal-btn {
    margin-top: 25px;
  }
}
